services:
  spark-shell:
    build: .
    container_name: spark-shell
    command: >
      tail -f /dev/null
    volumes:
      - ./data:/opt/spark/data
      - ./cache:/root/.ivy2/cache
    working_dir: /opt/spark/data
    environment:
      - SPARK_LOCAL_IP=0.0.0.0
      - SPARK_DRIVER_HOST=localhost
    network_mode: "host"
    stdin_open: true
    tty: true
